<?xml version="1.0"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Company" value="DotNet開發聖殿" />
    <add key="客服專線" value="0800-000099" />
  </appSettings>
  
  <connectionStrings>
    <!--
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    -->

    <add name="ApplicationServices"
     connectionString="data source=.;Initial Catalog=aspnet4db;user id=sa;password=test"
     providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />

    <authorization>
      <allow roles="MIS" />
    </authorization>

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2880" />
    </authentication>

    <!--定義錯誤預設網頁-->
    <customErrors defaultRedirect="~/ErrorPage.htm" mode="On" >
      <error statusCode="401" redirect="Error401.htm" />
      <error statusCode="402" redirect="Error402.htm" />
      <error statusCode="403" redirect="Error403.htm" />
      <error statusCode="404" redirect="Error404.htm" />
      <error statusCode="404" redirect="Error405.htm" />
    </customErrors>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp from="admin@dotnet.com">
        <network host="192.168.3.4" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
